/* applying background color to the body*/
body {
    background-color: floralwhite;
}
/* styling for the header and footer*/
header, footer {
    background-color: beige;
}
/*styling for the logo of the company*/
.logo{
    background-color: inherit;
    margin-top: -7px;
}

/* adding styling to the navigation panel*/
nav{
    margin-top: -76px;
    margin-left: 220px;
}

/* adding styling to the navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* adding floating attributes to the navigation icon */
nav li {
    float: left;
    float: left;
}

/* adding styling to the navigation bar and dropdown button */
nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* adding styling to the navigation links on hover event */
nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #41A699;
}

/* adding styling to the dropdown lists */
nav li.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* styling for the page-heading*/
.page-heading {
    text-align: center;
    padding-top: 25px;
}

/* styling for the border*/
.page-heading::after {
    content: "";
    display: block;
    height: 3px;
    width: 355px;
    background-color: #41A699;
    margin: -20px auto 0px auto;
}

/* styling for the store-image */
.store-image {
    width: 850px;
    height: 410px;
}

* {box-sizing:border-box}

/* Slideshow container */
.bx-wrapper {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
}
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #41A699;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "prev button" to the right */
.prev {
    left: 3px;
}
/* Position the "next button" to the right */
.next {
    right: 3.5px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #41A699;
    color: white;
}

span.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* centering the subsection*/
.subsection {
    margin-right: 11%;
    margin-left: 11%;
    border: 3px solid #41A698;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 42px;
    border-radius: 35px;
    background-color: antiquewhite;
    position: relative;
}

/* styling for the border*/
.subsection-heading::after {
    content: "";
    display: block;
    height: 3px;
    width: 250px;
    background-color: #41A699;
    /* margin: -20px auto 0px auto; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* styling for the subsection heading*/
.subsection-heading {
    padding-top: 5px;
    text-align: center;
}
/* styling for the contents of the subsection */
.subsection-content {
    text-align: center;
    position: relative;
    font-size: large;
}
#subheader-content {
    text-align: justify;
}

/* styling for the google-map plugin*/
.google-map {
    float: left;
    position: relative;
    bottom: 4px;
    left: -20px;
    margin-left: 98px;
}
@media screen and (min-width: 1200px) {
    .google-map {
        margin-left: 263px;
    }
}


/* styling for the frame*/
iframe {
    height: 250px;
    width: 500px;
    border-radius: 35px;
}
/* styling for the address section*/
#address-section {
    padding-bottom: 250px;
    text-align: left;
}
 /* styling for the address icon*/
.address-icon {
    height: 250px;
    float: right;
}
/* styling for the address content*/
address {
    position: relative;
    font-style: inherit;
    padding-bottom: 10px;
}

/* styling for the hours font*/
.hrs-font {
    font-size: larger;
}

/* styling for the open-sign*/
.img-open-sign {
    float: left;
    height: 190px;
    margin-top: -225px;
}

/* styling for the 7days-sign*/
.img-7days-sign {
    float: right;
    height: 190px;
    margin-top: -225px;
    margin-right: -21px;
}

/* styling for the footer*/
footer {
    height: 8vh;
}
@media screen and (min-width: 1200px) {
    footer {
        height: 16vh;
    }
}

/* styling for the quick links section */
.quick-links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* styling for the quick link icons */
.quick-icon {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* styling for the quick links */
.quick-icon a {
    text-decoration: none;
    color: white;
}

/* styling for the quick links on hover */
.quick-icon a:hover {
}

/* styling for the quick link icons on hover */
.quick-icon:hover {
    background-color: #41A699;
}

 /* styling for the copyright*/
.copyright {
    text-align: center;
}

/* styling for the footer content*/
.footer-content {
  text-align: center;
}

/* styling for the service logo*/
.services-logo {
    float: right;
    position: relative;
    bottom: 63px;
}
@media screen and (max-width: 1200px) {
    .services-logo img {
        margin-top: -36px;
    }
    .subsection-content p {
        font-size: x-small;
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: antiquewhite;
    color: #444;
    cursor: pointer;
    width: 95%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: larger;
    border-radius: 35px;
    margin-bottom: 1px;
}

.accordion h3 {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 35px;
    border: 2px #41A698 solid;
    box-shadow: 4px 4px 8px black;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion h3:active, .accordion h3:hover {
    background-color: #41A698;
    color: white;
    box-shadow: 2px 2px 4px black;
}

/* Style the accordion panel */
.panel {
    padding: 0px 18px;
    background-color: #fffaf0;
    display: none;
    overflow: hidden;
    border-radius: 30px;
    margin-top: -1px;
    font-size: large;
}

/* styling for the gas-image-logo */
.img-services {
    float: right;
}

/* styling for the images*/
.img-design {
    height: 200px;
    width: 225px;
    margin: 11px 11px 11px 11px;
}

/* styling for the table */
.table-design {
    background: white;
}

/* styling for the table-caption */
.table-caption {
    text-align: center;
    padding-bottom: 25px;
    font-style: oblique;
    font-size: large;
}

/* styling for the table-heading */
.table-heading {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* styling for the products panel */
.panel-products {
    padding: 0px 0px;
    background-color: transparent;
    display: none;
    overflow: scroll;
    border-radius: 30px;
    margin-top: -1px;
    font-size: large;
}

/* styling for the contact logo */
.contact-logo {
    float: right;
}
/* styling for the location list*/
.location-list {
    list-style-type: none;
    display: inline-grid;
    margin-left: -35px;
}

/* styling for the contact form*/
.form-contact {
    font-weight: bold;
    font-family: "Arial", sans-serif;
}

/* styling for the input and text area type of the form section of the contacts page */
.form-contact input, .form-contact textarea {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: darkslategray;
}

/* styling for the input type of the form */
.form-contact input{
    width: 30%;
}

/* styling for the forms on contacts page on hover effect */
.form-contact input:hover, .form-contact textarea:hover {
    border-color: #41A699;
}

/* styling for the placeholder */
::placeholder {
    font-style: italic;
}

/* styling for the submit button on the contacts page */
.contact-submitbtn {
    background-color: #333333;
    color: white;
    border-radius: 7px;
    border-color: transparent;
    margin-bottom: 11px;
    height: 23px;
    font-family: "Arial", sans-serif;
}

/* styling for the submit button on contacts page on hover effects */
.contact-submitbtn:hover {
    background-color: #41A699;
}

/* styling for the list items design */
.list-design {
    text-align: left;
}
/* styling for the list elements */
.list-elements {
    text-align: left;
}

/*styling for the clearance section*/
#img-ajax {
    overflow: scroll;
}

/*styling for the subscription form*/
.form-subscription input {
    padding-bottom: 10px;
    width: 50%;
    margin-bottom: 11px;
    border: 2px solid black;
    border-radius: 7px;
}

.form-subscription input:hover{
    border-color: #41A699;
}

/* styling for the alignment for subsection texts*/
.textAlignLeft {
    text-align: left;
}

/* styling for the active link on navBar*/
.activeLink {
    background-color: red;
}
.ui-accordion-header-active{
    background-color: #41A699;
    color: white;
}