.signage-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
  z-index: 9999;
}

.signage-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signage-slide.active {
  opacity: 1;
  z-index: 1;
}

.signage-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  /* Ensure images maintain aspect ratio and are centered */
  display: block;
  margin: auto;
}

/* Optimize for TV/FireTV displays */
@media screen and (min-width: 1920px) {
  .signage-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* Prevent any scrolling or selection */
.signage-container * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Ensure fullscreen on all devices */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

